.container-inline-date .form-item {
  width: 290px;
  float: none;
}

.date-padding {
  width: 200px;
  float: right;
}

.date-padding .form-type-textfield {
  width: 180px;
}

.container-inline-date .date-padding {
  padding: 0px;
  float: right;
}

.date-clear-block {
  display: inline;
}
